@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Titan+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #000;
  --secondary: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  scroll-behavior: smooth;
}

html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  cursor: grab;
}


.main {
  position: relative;
  width: auto;
  height: 300px;
}

.place-card {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  background-color:#cbd5e1 ;
  /* transition: all .8s ease; */
  transition: transform 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.front{
  position: absolute;
  width: 100%;
  height: auto;
  backface-visibility: hidden;
  color: #333;
}

.front>div{
  padding: 1rem;
}

.back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  /* background: #fafafa; */
  color: #333;
  transform: rotateY(180deg);
}

.main:hover .place-card{
  transform: rotateY(180deg);
}

.place-card img {
  object-fit: contain;
  object-position: top;
}

@font-face {
  font-family: 'Samarkan';
  src: url('/assets/fonts/SAMAN___.TTF') format('truetype');
  font-display: swap; /* Optional */
}
@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-Medium.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Oswald';
  src: url('https://fonts.gstatic.com/s/oswald/v53/TK3iWkUHHAIjg752HT8Ghe4.woff2') format('woff2');
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
}
@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSans.ttf') format('truetype');
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
}


@keyframes enableHover {
  to {
    pointer-events: auto;
  }
}

nav span h3 {
  color: var(--primary);
  text-shadow: 1px 1px 0 var(--secondary), -1px 1px 0 var(--secondary),
    -1px -1px 0 var(--secondary), 1px -1px 0 var(--secondary);
}


.main {
  opacity: 0; /* Hidden by default */
  transform: translateY(50px); /* Move down initially */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Smooth animation */
}

.main.in-view {
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Move to original position */
}

[data-scroll] {
  opacity: 0;
  transform: translateY(30px); /* Position the text below */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Visible state when in view */
[data-scroll].in-view {
  opacity: 1;
  transform: translateY(0); /* Original position */
}