/* 
 
  .wrapper {
    display: flex;
    width: 600%; 
    animation: slide 26s infinite ease-in-out;
  }
  .wrapper img {
    width: 100%;
    height: 100vh; 
    object-fit: cover; 
    object-position: center; 
    flex-shrink: 0;
    will-change: transform;
  }
  @keyframes slide {
    0% {
      transform: translateX(0);
  }
  16.666% {
      transform: translateX(-100%);
  }
  33.333% {
      transform: translateX(-200%);
  }
  50% {
      transform: translateX(-300%);
  }
  66.666% {
      transform: translateX(-400%);
  }
  83.333% {
      transform: translateX(-500%);
  }
  100% {
      transform: translateX(-600%); 
  }
  }
   */

   .swiper-container {
    width: 100%;
    height: 100%; /* Ensures the swiper adjusts to the container */
  }
  
  .carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures images fill the container without distortion */
  }
  
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }